<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
<meta charset="UTF-8">
<title>header</title>

</head>
<body>
<div th:fragment="header">

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
  
    <div class="container d-flex justify-content-between align-items-center bg-dark"> <!--song0524  -->

      <div id="logo">
        <a th:href="@{/}"><img th:src="@{/img/canpIcon2.png}" alt=""></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a th:href="@{/index.html}">Regna</a></h1>-->
      </div>
      
	  <span sec:authorize="isAuthenticated()" th:utext="${'<b>' + #authentication.principal.attributes.email} + '</b> 님 환영합니다.'" style="color:#fff;"></span>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" th:href="@{/#hero}">메인화면2222</a></li>
          <li><a class="nav-link scrollto" th:href="@{/board/list.do}">리뷰게시판</a></li>
          <li><a class="nav-link scrollto" th:href="@{/#services}">예약현황</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>예약현황</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">내정보조회</a></li>
                  <li><a href="#">나의 예약현황</a></li>
                  <li><a href="#">내 정보 수정</a></li>
                  <li><a href="#">내가 본 캠핑장</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li sec:authorize="isAnonymous()"><a class="btn btn-secondary active m-2" role="button" th:href="@{/login/oauth2/authorization/naver}">로그인</a></li>
          <li sec:authorize="isAuthenticated()"><a class="btn btn-secondary active m-2" role="button" th:href="@{'/logout'}">로그아웃</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  
  </div>
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
</html>