<!DOCTYPE html>
<!-- thymeleaf dialect 적용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      lang="ko">
<head>
<meta charset="UTF-8">
<title>home</title>
<!--바뀐 헤더  -->
	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
	  
	<!--========================================================  -->
	<!-- 구글 폰트 시작 -->
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&family=IBM+Plex+Sans+KR:wght@500&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Grandiflora+One&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Myeongjo:wght@400;700&display=swap">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
	<!-- 구글 폰트 끝 -->
	
	<!-- 네비게이션 바 폰트 시작-->
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&family=IBM+Plex+Sans+KR:wght@500&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap" rel="stylesheet">
	<!-- 네비게이션 바 폰트 끝-->
	
	<!--========================================================  -->

	<!-- Vendor CSS Files -->
	<link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
	
	<!-- Icon Font Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	
	<!-- Template Main CSS File -->
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	
	<!-- =======================================================
	* Template Name: Regna
	* Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
	* Updated: Mar 17 2024 with Bootstrap v5.3.3
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
	
	<!-- Vendor JS Files -->
	<script th:src="@{/vendor/purecounter/purecounter_vanilla.js}"></script>
	<script th:src="@{/vendor/aos/aos.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
	<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
	<script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/js/main.js}"></script>
	
<!--=========================================================  -->

	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" charset="UTF-8"></script>
	
	<script th:src="@{/jquery/3.7.1/jquery.min.js}"></script>

	<style type="text/css">
	.top_search_box{
		height: 300px;
		width:700px;
		background-color: #fff;
		display: inline-block;
	 }
	</style>
</head>
<body>

	<div th:replace="layout/header :: header"></div> 
	
	<div layout:fragment="content"></div>
	
	<div th:replace="layout/footer :: footer"></div>

</body>
</html>