<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
	<!-- Google Icon : https://material.io/tools/icons/?style=baseline -->
  	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	
	<link th:href="@{/css/modal.css}" rel="stylesheet">
	
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=147ffa1a9f1208679234cd74fc9e21d3"></script>

	<script>
	function parseCheck(obj) {

		console.log("아이디 : ", obj.id);
		obj.value = obj.checked == true ? "1" : "0";
	}

	window.onload = function() {
		
		//modal 제어
		let win = document.getElementById("modal");
		let modalBody = document.getElementById("modal_body");
		let openBtn = document.getElementById("openBtn");
		let closeBtn = document.getElementById("close_btn");
	
		closeBtn.onclick = (e) => {
			
			console.log("창닫기");
			win.style.visibility = "hidden";
		} //
	
		openBtn.onclick = (e) => {
	
			console.log("창열기");
			win.style.visibility = "visible";
		} //

		var container = document.getElementById('map');
		var options = {
			// 기본값 : 신림역
			center: new kakao.maps.LatLng(37.484269, 126.929676),
			level: 1
		};

		var map = new kakao.maps.Map(container, options);

		////////////////////////////////////////////////////////////////////

		document.getElementById("searchBtn").onclick = function(e) {

			alert("클릭");

			let form = document.getElementById("frm");
			let formData = new FormData(form);

			axios({
				method : 'POST',
				url : '/campProject/mapRest4',
				data : formData,
				// headers: { "Content-Type": "multipart/form-data" },
			})
			.then(function(response) {

				let campList = response.data;

				console.log("response : ", campList);

				console.log("캠프장-1 위도 : ", campList[0].latitude);
				console.log("캠프장-1 경도 : ", campList[0].longitude);
				console.log("캠프장-1 주소 : ", campList[0].roadAddress);

				var container = document.getElementById('map');

				var options = {
					center: new kakao.maps.LatLng(campList[0].latitude, campList[0].longitude),
					level: 8
				};

				var map = new kakao.maps.Map(container, options);

				// 다중 마커 표시
				var positions = [];

				// 클릭한 마커를 담을 변수
			    let selectedMarker = null;

				// 마커 이미지
				var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

				 // 마커 이미지의 이미지 크기 입니다
			    var imageSize = new kakao.maps.Size(24, 35);

			    // 마커 이미지를 생성합니다
			    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

			    let camp = { title : '', latlng : '', roadAddress : '', jibunAddress : '', img : '', 
			    		 imgs1 : '', imgs2 : '', imgs3 : '', campId : '', campFire : '', 
			    		 isFool : '', isPlayground : '', isWifi : '', isTrail : '', isElectricity : '', facilDetail :''};

			    let recommList = document.getElementById("recommList"); // 서버에서 송부된 추천 캠핑장들의 정보

				recommList.innerHTML = ""; // 추천 캠핑장들 정보 패널 초기화
				modalBody.innerHTML = ""; // 캠핑 modal 초기화 0523

				for (var i=0; i<campList.length; i++) {

					camp.title = campList[i].campName;
					camp.latlng = new kakao.maps.LatLng(campList[i].latitude, campList[i].longitude);

					positions[i] = camp;

					 // 마커 생성
				    var marker = new kakao.maps.Marker({
				        map: map, // 마커를 표시할 지도
				        position: positions[i].latlng, // 마커를 표시할 위치
				        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
				        image : markerImage // 마커 이미지
				        
				    });

					console.log("도로명 주소 존재 여부 : ", campList[i].roadAddress == null);

					// 추천 캠핑장 목록 생성
					var campInfo = `<b>${campList[i].campName}</b>,
								   ${campList[i].roadAddress == null ? campList[i].jibunAddress : campList[i].roadAddress},
								   만족도 : ${campList[i].satisfaction}
								   네이버 평점 : ${campList[i].avgRating},
								   네이버 긍정지수 : ${campList[i].reviewPositive},
								   네이버 부정지수 : ${campList[i].reviewNegative}
								   <br>`;

					recommList.innerHTML += campInfo;
					
					//modal 정보
					//캠프장 사용시설 0522 leee
					camp.title = campList[i].campName;
					camp.roadAddress = campList[i].roadAddress;
					camp.jibunAddress = campList[i].jibunAddress;
					camp.campId= campList[i].campId;
					camp.img = campList[i].campImg;
					camp.imgs1 = campList[i].ImgNames1;
					camp.imgs2 = campList[i].ImgNames2;
					camp.imgs3 = campList[i].ImgNames3;
					camp.campFire = campList[i].isCampfire;
					camp.isFool = campList[i].isFool;
					camp.isPlayground = campList[i].isPlayground;
					camp.isWifi = campList[i].isWifi;
					camp.isTrail = campList[i].isTrail;
					camp.isElectricity = campList[i].isElectricity;
					camp.facilDetail = campList[i].facilDetail;
					

					////////////////////////////////////////////////////////////////////////////////////

					(function(marker, campList, i) { // 즉시 실행 함수 (중요 !) // jquery 사용시는 반드시 필요 !
					// jquery에서 여기서 일반적인 함수 및 구문(루틴) 사용시 인자 전달 안되는 오류 있음

						// 마커에 마우스오버 이벤트를 등록합니다
						kakao.maps.event.addListener(marker, 'click', function() {

						  	console.log("마커 : ", marker);
						  	console.log("마커 타이틀 : ", marker.getTitle());

						  	// 해당 캠프장 상세 사항 가져오기
						  	console.log("캠프장 도로명 주소 : ", campList[i].roadAddress);
						  	
						  	modal.style.visibility='visible';
						  	
						  	//개별 캠핑장 정보 modal 구성 
						  	let imgUrl ="";
			                let campImageDiv = "";
			                
			                //캠프장 이미지 이미지가 없다면 아무것도 보여주지 않음--> 이미지없는 사진 하나 만들어서 보여줘야함. 
			                if(camp.img != null){
			                
				                imgUrl = "/campProject/img/thumb/" + camp.img;
				                
				                campImageDiv = `<div>
			                				  		<img src="${imgUrl}" class="item d-flex justify-content-start"
			                				  			 style="width:600px; height:400px; margin-right: 10px;"/>
			                				    </div>`;
			                } else {

			                	campImageDiv = `<div class="item d-flex justify-content-start"
		   				  		 					 style="width:600px; height:400px; margin-right: 10px;">
		   				  		 					 이미지 없음.
			                				    </div>`;
			                	
			                }
			                
			                //캠프장 사용시설 이모티콘. 해당하는 시설만 보여줌. 
			                let campFire = `${camp.campFire == 1 ? '<span style="font-size:50px;color:blue;margin:10px 20px;text-align:center;" class="material-symbols-outlined">local_fire_department<br><p style="font-size:15px;color:#000;text-align:center;">캠프파이어</p></span>' : ''}`;
			                let isFool = `${camp.isFool == 1 ? '<span style="font-size:50px;color:blue;margin:10px 20px;text-align:center;"  class="material-symbols-outlined">pool<br><p style="font-size:15px;color:#000;text-align:center;">수영시설</p></span>' : ''}`;
			                let isPlayground = `${camp.isPlayground == 1 ? '<span style="font-size:50px;color:blue;margin:10px 20px;text-align:center;"  class="material-symbols-outlined">sports_soccer<br><p style="font-size:15px;color:#000;text-align:center;">운동시설</p></span>' : ''}`;
			                let isWifi = `${camp.isWifi == 1 ? '<span style="font-size:50px;color:blue;margin:10px 20px;text-align:center;"  class="material-symbols-outlined">wifi<br><p style="font-size:15px;color:#000;text-align:center;">와이파이</p></span>' : ''}`;
			                let isTrail = `${camp.isTrail == 1 ? '<span style="font-size:50px;color:blue;margin:10px 20px;text-align:center;"  class="material-symbols-outlined">forest<br><p style="font-size:15px;color:#000;text-align:center;">산책로</p></span>' : ''}`;
			                let isElectricity = `${camp.isElectricity == 1 ? '<span style="font-size:50px;color:blue;margin:10px 20px;text-align:center;"  class="material-symbols-outlined">bolt<br><p style="font-size:15px;color:#000;text-align:center;">전기이용</p></span>' : ''}`;
			                
			                //캠프장 이름. 장소, 전화번호. 
			                let campTitleAddressDiv = `<div style="width:800px;height:400px;overflow:hidden">
						                					<div class="item d-flex justify-content-start" 
						                						 style="width:700px; height:80px; margin-left:10px;">
						                						 ${camp.title}
						                					</div>
						                					<div class="item d-flex justify-content-start" 
						                						 style="width:700px; height:150px; margin-left:10px;">
						                						 ${camp.facilDetail.substring(0,100)}...
						                					</div>
						                					<div class="item d-flex justify-content-start" 
						                						 style="width:700px; height:50px; margin-left:10px;">
						                						 ${camp.roadAddress}
						                					</div>
						                					<div class="item d-flex align-self-baseline p-2" 
																style="width:700px; height:120px; margin-left:10px;">
																${campFire}${isFool}${isPlayground}${isWifi}${isTrail}${isElectricity}
									    				   </div>
						                				</div>`;
						                				
//////////					///////////////////캠프장 상세 3개 이미지 //////////////////////////////////////////////
			                //이미지1
			                if(camp.imgs1 != null){
				                
			                	imgUrl1 = "/campProject/img/thumb_sub4/" + camp.imgs1;
				                
			                	campImgsDiv1 = `<div>
					    				  		<img src="${imgUrl1}" class="d-flex bg-light align-self-start"
					    				  			 style="width:400px; height:400px; margin: 40px 0 0 40px;"/>
					    				  		</div>`;
			                } else {

			                	campImgsDiv1 = `<div>
					    				  		<img class="d-flex bg-light align-self-start"
					    				  			 style="width:400px; height:400px; margin: 40px 0 0 40px;"/>
					    				  		</div>`;
			                }
			                
			              	//이미지2
			                if(camp.imgs1 != null){
				                
			                	imgUrl2 = "/campProject/img/thumb_sub4/" + camp.imgs2;
				                
			                	campImgsDiv2 = `<div>
					    				  		<img src="${imgUrl2}" class="d-flex bg-light align-self-start"
					    				  			 style="width:400px; height:400px; margin: 40px 0 0 40px;"/>
					    				  		</div>`;
			                } else {

			                	campImgsDiv2 = `<div>
					    				  		<img class="d-flex bg-light align-self-start"
					    				  			 style="width:400px; height:400px; margin: 40px 0 0 40px;"/>
					    				  		</div>`;
			                }
			              	//이미지3
			                if(camp.imgs1 != null){
				                
			                	imgUrl3 = "/campProject/img/thumb_sub4/" + camp.imgs3;
				                
			                	campImgsDiv3 = `<div>
					    				  		<img src="${imgUrl3}" class="d-flex bg-light align-self-start"
					    				  			 style="width:400px; height:400px; margin: 40px 0 0 40px;"/>
					    				  		</div>`;
			                } else {

			                	campImgsDiv3 = `<div>
					    				  		<img class="d-flex bg-light align-self-start"
					    				  			 style="width:400px; height:400px; margin: 40px 0 0 40px;"/>
					    				  		</div>`;
			                }
			              	
			              	let campImgsTotalDiv = `<div class="d-flex justify-content-between bg-light">
									              		${campImgsDiv1}
						             					${campImgsDiv2}
						             					${campImgsDiv3}
			              							</div>`;
			                
			                /////////////////////////////</캠프장 상세 3개 이미지> //////////////////////////////////////////////
						    
               				//위의 내용들을 하나의 div에 넣음. 
           	                let campDiv = `<div class="bg-light d-flex justify-content-center flex-wrap w-100 my-2">
           	                 					${campImageDiv}
           	                 					${campTitleAddressDiv}
           	                 					${campImgsTotalDiv}
           	                 			   </div>`;
						  	
    	                 	modalBody.innerHTML=campDiv;
    	                 	
    	                 	//////////////////////////////////////////////////////////////////////////////////////////////////////////
           	                 			   
							let recommCamp = document.getElementById("recommCamp");

							// 도로명 주소가 없으면 지번 주소를 출력
							recommCamp.innerHTML = `<b>${marker.getTitle()}</b>,
												   ${campList[i].roadAddress == null ? campList[i].jibunAddress : campList[i].roadAddress},
												   만족도 : ${campList[i].satisfaction},
												   네이버 평점 : ${campList[i].avgRating},
												   네이버 긍정지수 : ${campList[i].reviewPositive},
												   네이버 부정지수 : ${campList[i].reviewNegative}
												   <br>`;

						});

					})(marker, campList, i); // 즉시 실행 함수 실인자

					/////////////////////////////////////////////////////////////////////////////

				} // for

			}); // done
			// axios

		} // onclick

	} //
	</script>
	<style type="text/css">
		#map{
			margin:0 auto;
		}
	</style>
</head>
<body>

	<button id="openBtn">창열기</button>

	<!-- modal -->
	<div id="modal">
	    
	    <!-- modal header -->
		<div id="modal_header">
		
			<!-- closing button icon -->
			<div id="modal_header_close">
			    <a href="#" id="modal_close_btn">
					<span id="close_btn" class="material-icons" style="color:#60C5F1">
			        	clear
			        </span>
		        </a>
			</div>
		</div>
		
		<!-- modal content -->
		<div id="modal_body">
		</div>
		
		<!-- modal footer -->
		<div id="modal_footer">
		</div>
		
	</div>

	<div id="map" style="width:1500px; height:500px;"></div>

	<!-- 추천된 캠핑장들 -->
	<div id="recommList" style="width:1300px; height:150px; background-color:yellow; overflow-y:auto; padding:5px">
	</div>

	<!-- 선택된 마커에 대한 캠핑장 정보 -->
	<div id="recommCamp" style="width:1300px; height:50px; background-color:cyan; padding:5px">
	</div>

	<div style="margin-top:20px;">

		<form id="frm">

			<input type="hidden" id="id" name="id" value="1" />

			아이디 : <input type="text" id="userId" name="userId" value="abcd1234" readonly />

			일시 : <input type="date" id="time" name="time" value="2024-05-10" />

			지역 : <input type="text" id="destination" name="destination" value="태안" placeholder="해당 지역을 입력하십시오. 예) 평택" />

			전기시설 : <input type="checkbox" id="isElectricity" name="isElectricity"  value="0" onclick="parseCheck(this)" />

			인터넷 : <input type="checkbox" id="isWifi" name="isWifi"  value="0" onclick="parseCheck(this)" />

			캠프파이어 : <input type="checkbox" id="isCampfire" name="isCampfire"  value="0" onclick="parseCheck(this)" />

			온수시설 : <input type="checkbox" id="isHeater" name="isHeater"  value="0" onclick="parseCheck(this)" />

			풀장 : <input type="checkbox" id="isPool" name="isPool"  value="0" onclick="parseCheck(this)" />

			운동장 : <input type="checkbox" id="isPlayground" name="isPlayground"  value="0" onclick="parseCheck(this)" />

			주방시설 : <input type="checkbox" id="isSink" name="isSink"  value="0" onclick="parseCheck(this)" />

			산책시설 : <input type="checkbox" id="isTrail" name="isTrail"  value="0" onclick="parseCheck(this)" />

			수상레저 : <input type="checkbox" id="isMaritimeLeisure" name="isMaritimeLeisure"  value="0" onclick="parseCheck(this)" />

			낚시 : <input type="checkbox" id="isFishing" name="isFishing"  value="0" onclick="parseCheck(this)" />

			<button id="searchBtn" type="button">전송</button>

		</form>

	</div>
</body>
</html>